.skills{
    height: 100vh ;
  background:rgb(216, 226, 247);
  }

   

   

  .titlediv{
    position: absolute;
  
   padding-left: 3%;
   top:105%;
   z-index: 1;
  
   display:flex;
   flex-direction: column;
   justify-content: space-
   
    
  }

  

   .skillitemdivapperar{
    position: absolute;
  
    left :10%;
   
    padding-left: 3%;
    top:115%;
    display:flex;
   flex-direction: column;
   justify-content: space-around;
   opacity: 1;
   transition: 3s ease-in-out;
    z-index: 1;
   
  }
  
  .skillitemdivnotapperar{
    position: absolute;
  
    left :10%;
   
    padding-left: 3%;
    top:115%;
    display:flex;
   flex-direction: column;
   justify-content: space-around;
   opacity: 0;

   transition: .5s ease-in-out;
   z-index: 1;
    
   
  }
  
  @media screen and (max-width: 1350px){
    
    .skillitemdivapperar{
      position: center;
    
      left :20%;
     
      padding-left: 3%;
      top:115%;
      display:flex;
     flex-direction: column;
     justify-content: space-around;
     opacity: 1;
     
      z-index: 1;
     
    }
    
    .skillitemdivnotapperar{
      position: absolute;
    
      left :20%;
     
      padding-left: 3%;
      top:115%;
      display:flex;
     flex-direction: column;
     justify-content: space-around;
     opacity: 0;
  
     
     z-index: 1;
      
     
    }
  }
  
  
 

   