.skilldiv{

    position: relative;
    
  
  
  } 

  .text{
    font-family: 'Poppins', sans-serif;
  
  font-style: bold;
  color:rgb(21, 79, 82);
  font-size: 15px;
  }

  
  .texthead{
    font-family: 'Poppins', sans-serif;
  
  font-style: bold;
  color:rgb(21, 79, 82);
  font-size: 35px;
  }

 